{% extends "::vueMere.html.twig" %}
{# Le code ci dessous correspond à la vue mère du tableau de bord, celui ci se décline en trois sous vue #}
{% block title %}Tableau de Bord{% endblock %}
{% block activeTableauDeBord %}active{% endblock %}
{% block body %} 
    {# Titre de la page #}
    <section class="content-header">
      <h1>Tableau de bord</h1>
    </section>
    
    {# Contenu principal #}
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
              <li role="" class="{% block activeAccueil %}{% endblock %}"><a href="{{ path('moove_activite_tableauDeBord') }}">Accueil</a></li>
              <li role="" class="{% block activeActivites %}{% endblock %}"><a href="{{ path('moove_activite_enCoursActivite') }}">Activités</a></li>
              <li role="" class="{% block activeHistorique %}{% endblock %}"><a href="{{ path('moove_activite_historiqueActivite') }}">Historique</a></li>
            </ul>
        </div>
        <div class="col-md-12">
          {% block fos_user_content %}
          {% endblock %}
        </div>
        <div class="col-md-12">
            {% block bodyTableau %}{% endblock %}
            {% block navTableau %}{% endblock %}
        </div>
      </div>{# /.row #}
    </section>{# /.content #}
{% endblock %}