{# https://moove-arl64.c9users.io/web/app_dev.php/activites #}
{% extends "mooveActiviteBundle:Accueil:tableauDeBord.html.twig" %}

{% block activeActivites %}active{% endblock %}
{% block bodyTableau %}
    <br>
    <h3>Liste de toutes les activités auxquelles vous participez ou que vous organisez.</h3>
    <br><br>
    <div class="table-responsive">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Sport</th>
            <th>Départ</th>
            <th>Arrivée</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Organisateur</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cyclisme</td>
            <td>Anglet</td>
            <td>Bayonne</td>
            <td>15/01/16</td>
            <td>5/8</td>
            <td>Antoine Vauthey</td>
            <td><a href="#" class="btn btn-primary btn-xs">Détails</a></td>
          </tr>
          <tr>
            <td>Randonnée</td>
            <td>Bayonne</td>
            <td>Iparla</td>
            <td>20/01/16</td>
            <td>5/10</td>
            <td>Fabien Dartigues</td>
            <td><a href="#" class="btn btn-primary btn-xs">Détails</a></td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}