{# moove/Resources/views/vueMere.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Moove - {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
{# METTRE ICI LE CODE DU HEADER PRINCIPAL #}
        
        {% endblock %}
        {% block leftMenu %}
{# METTRE ICI LE CODE DU MENU PRINCIPAL #}
        
        {% endblock %}
        {% block body %}
{# NE RIEN METTRE ICI #}
        
        {% endblock %}
        {% block footer %}
{# METTRE ICI LE CODE DU FOOTER PRINCIPAL #}
        
        {% endblock %}
        {% block javascripts %}
{# METTRE ICI LE CODE DES JAVASCRIPT #}

        {% endblock %}
    </body>
</html>