/* FORMULAIRE D'INSCRIPTION
-------------------------------------------------- */
.form-signin .form-signin-heading,
.form-signin .radios {
  margin-bottom: 10px;
}
.form-signin .radios {
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
}
.form-signin .form-control:focus {
  z-index: 3;
}
.form-signin input[id="fos_user_registration_form_prenom"],
.form-signin input[id="fos_user_registration_form_nom"],
.form-signin input[id="fos_user_registration_form_email"],
.form-signin input[id="fos_user_registration_form_plainPassword_first"],
.form-signin input[id="fos_user_registration_form_plainPassword_second"]
 {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[id="fos_user_registration_form_nom"],
.form-signin input[id="fos_user_registration_form_email"],
.form-signin input[id="fos_user_registration_form_plainPassword_second"],
.form-signin input[id="inputBirthday"],
.form-signin input[id="fos_user_registration_form_username"],
.form-signin input[id="fos_user_registration_form_dateNaissance"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin div[id="fos_user_registration_form_dateNaissance"] {
  margin: 5px 0 5px 0;
}

.form-signin .input-group-addon {
  border-top-right-radius: 0;
}

.form-group {
  margin-bottom: 0;
}

.radios {
  display: inline;
}

div[id="fos_user_registration_form_sexe"] {
  text-align: center;
  margin: 0.7rem 0 0.7rem 0;
}

.radios+.radios {
    margin-left: 1rem;
}

.form-group .control-label {
  display: none;
}

.form-signin {
  max-width: 660px;
}

.spaced {
  margin-top: 1em;
}