{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Inscription réussie{% endblock %}

{% block boutons %}
<a href="{{ path('fos_user_registration_register') }}"><button class="btn btn-primary-outline" type="button">Connexion</button></a>
<a href="{{ path('fos_user_security_login') }}"><button class="btn btn-primary-outline" type="button">Inscription</button></a>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
</div>
{% endblock fos_user_content %}
