{% extends "::vueMere.html.twig" %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
<!-- Titre de la page -->
<section class="content-header">
  <h1>Modifier mon mot de passe</h1>
</section>
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock body %}
