{% extends "::vueMere.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %} 
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>
        {% if user.id == app.user.id %}
          Mon Profil
        {% else %}
          {{ user.prenom ~ " " ~ user.nom }}
        {% endif %}
      </h1>
    </section>
    
    <!-- Contenu principal -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            {% block bodyFOS %}
              {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            {% endblock bodyFOS %}
            
        </div>
       </div>
    </section>
{% endblock %}
