{% extends "::vueMere.html.twig" %}
{% block title %}Proposer des activités{% endblock %}

{% block body %} 
    <!-- Titre de la page -->
    <section class="content-header">
      <h1>Proposer</h1>
    </section>
     
{% endblock %}
